<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <form class="row row-cols-lg-auto g-3 align-items-center" id="search-form">
            <div class="col-12">
              <label class="visually-hidden" for="location">Location</label>
              <div class="input-group">
                <input type="text" class="form-control" id="location" placeholder="Going to">
              </div>
            </div>
          
            <div class="col-12">
              <label class="visually-hidden" for="dates">Dates</label>
              <input type="text" class="form-control" id="dates" placeholder="Dates">
            </div>
          
            <div class="col-12">
                <label class="visually-hidden" for="guests">Travellers</label>
                <input type="text" class="form-control" id="guests" placeholder="Travellers">
            </div>
          
            <div class="col-12">
              <button type="button" class="btn btn-primary">Search</button>
            </div>
          </form>
    </div>
</div>